<form [formGroup]="form">
    <h2 id="login-label">Novi pacijent</h2>
    <mat-form-field>
      <input
        matInput
        formControlName="name"
        placeholder="Ime"
        name="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        formControlName="surname"
        placeholder="Prezime"
        name="surname"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="email"
        placeholder="E-mail"
        name="email"
      />
    </mat-form-field>

    <mat-form-field>
        <input
          matInput
          formControlName="phoneNum"
          placeholder="Broj telefona"
          name="phoneNum"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Datum rodjenja</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
        <mat-form-field>
            <mat-label>Pol</mat-label>
            <mat-select matNativeControl required formControlName="gender">
            <mat-option value="MALE">Muski</mat-option>
            <mat-option value="FEMALE">Zenski</mat-option>
            </mat-select>
        </mat-form-field>
    
      <button mat-raised-button colot="primary" (click)="addNewPatient()">
        Dodaj novog pacijenta
      </button>
</form>