.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    /* max-width: 900px; */
    /* min-width: 900px; */
    width: 900px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-slider {
    max-width: 550px;
    width: 100%;
}

.main-form {
    display: flex;
    flex-direction: column;
}

.single-slider {
    display: flex;
    justify-content: space-around;
}

.slider-label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container {
    flex: 2;
}

.over-window{
    position: fixed;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}